
  <!-- <div class="imagerow">
      <span class="img-container-inline">
        <img src="http://res.cloudinary.com/wfdns6x2g6/image/upload/v1509007989/user_psolwi.png" alt="John Doe">
      </span>
  </div>
  <div class="row">
    "At Blanket Food, we believe the best dishes are the ones that remind you of childhood. A portion of great food should make you feel like you are wrapped in a warm blanket.

    At our location in Boston or online, you will find the best dishes you didn't know you craved: extra-creamy mac and cheese, hot chicken casserole, fried dumplings like your mama makes, and many more.
    
    Forget about the daily stress and come relax with us. After tasting any of our menu items, you will never want to leave!"
  </div> -->

  <div class="container">
    <div class="image">
      <img src="../../assets/logos/mahi photo.jpg" width="300" height="300">
    </div>
    <div class="text">
      <p>
        "At Blanket Food, we believe the best dishes are the ones that remind you of childhood. A portion of great food should make you feel like you are wrapped in a warm blanket.

        At our location in Boston or online, you will find the best dishes you didn't know you craved: extra-creamy mac and cheese, hot chicken casserole, fried dumplings like your mama makes, and many more.
        
        Forget about the daily stress and come relax with us. After tasting any of our menu items, you will never want to leave!"
      </p>
    </div>
  </div>
