<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="vertical-menu">
                <a href="#" class="active">About Us</a>
                <a (click)="change('owner')">Owner</a>
                <a href="#">Our chefs</a>
                <a href="#">Accomplishments</a>
                <a (click)="change('services')">Our services</a>
              </div>
        </div>
        <div class="col-10">
            <app-aboutus-owner *ngIf="option==='owner'"></app-aboutus-owner>
        </div>
    </div>
</div>